<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.HMI.BA.Icons" version="2.12.5" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.BaseTemplate" version="12.762.53" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Controls" version="12.762.54" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Framework" version="12.762.53" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Functions" version="12.762.53" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.ResponsiveNavigation" version="12.762.53" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Scope" version="14.1.214" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Scope.Meta" version="1.1.214" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.ScopeControl" version="12.762.53" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.SqliteHistorize" version="19.0.214" targetFramework="native1.12-tchmi" />
  <package id="Microsoft.TypeScript.MSBuild" version="4.9.5" developmentDependency="true" />
</packages>